body {

}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

  #test {
      resize: both;
  }
  
  #resize-test2 {
    border: 1px solid black;
    background-color: lightblue;
    width: 270px;
    /* overflow: auto; */
    cursor: move;
    position: absolute;
  }

  #myBtn {
      position: absolute;
  }
#main-canvas {

}

.my-navbar-button {
    background-color:green;
    border-radius:10%;
}

#bootstrap-override #drop-down-button {
  margin-right: 2em;
}

#bootstrap-override #drag-element-button {
  margin-right: 1em;
}

#delete-border{
  border: 3px solid red;
  background-color: lightblue;
  width: 270px;
  /* overflow: auto; */
  cursor: move;
  position: absolute;
}

